.todo_list {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  flex: 1 1 auto;
  border-radius: 10px;
  background-color: rgb(189, 170, 196);
  .todo {
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 20px;
    }
  }
  input {
    padding: 5px;
    font-size: inherit;
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    background-color: rgb(217, 167, 198);
  }
  .todo_button {
    max-width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 1em;
    background: rgb(181, 181, 181);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(2) {
      color: #0d124c;
    }
    &:nth-child(1) {
      color: #006400;
    }
    &:nth-child(3) {
      color: #c8553d;
    }
  }
}
