nav {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      padding: 5px;
      margin-bottom: -10px;
      width: 20%;
      text-align: center;
      border:2px solid rgb(0, 0, 0) ;
      border-bottom: none;
      border-radius:  0  10px 0 0;
      a {
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 20px;
        color: initial;
        cursor: pointer;
        text-decoration: none;
      }
      &:nth-child(1) {
        background-color: rgb(189, 170, 196);
      }
      &:nth-child(2) {
        background-color: rgba(60, 79, 53, 0.5);
      }
      &:nth-child(3) {
        background-color: rgb(117, 204, 169);
      }
      &:nth-child(4) {
        background-color: rgba(78, 104, 125, 0.3);
      }
    }
  }
}
