.post_list {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  flex: 1 1 auto;
  border-radius: 10px;
  background-color: rgba(60, 79, 53, 0.5);
  .post {
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    h2 {
      font-size: 20px;
    }
  }
}
