.user_details {
  margin: 5px;
  width: 100%;
  font-size: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background-color: rgba(78, 104, 125, 0.3);
  li {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      color: rgba(0, 0, 0, 0.6);
    }
    svg {
      width: 1.5em;
    }
  }
}
