.user_details {
  width: 100%;
  list-style: none;
  border-radius: 10px;
  background-color: rgba(78, 104, 125, 0.3);
  li {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      color: rgba(0, 0, 0, 0.6);
    }
    svg {
      width: 1.5em;
    }
  }
}
