.album_list {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  flex: 1 1 auto;
  border-radius: 10px;
  background-color: rgb(117, 204, 169);
  .album {
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    h2 {
      font-size: 20px;
    }
  }
}
